@using ProtocolDroid.Models
@model IEnumerable<RegexPattern>

@{
    var patterns = Model.ToList();
    var prop_names = typeof(RegexPattern).GetProperties().Select(x => x.Name);
    var total_patterns = patterns.Count;
}

<div class="border-4 border-red overflow-x-auto">
    <table class="table table-zebra table-xs">
        <thead>
        <tr>
            <th></th>

            @foreach (var name in prop_names)
            {
                <th>@name</th>
            }
        </tr>
        </thead>
        <tbody>

        @foreach (var pattern in patterns)
        {
            <tr>
                <th>1</th>
                <td>@pattern.Name</td>
                <td class="text-xl sith-lightsaber">@pattern.Find</td>
                <td class="text-xl green-lightsaber">@pattern.Replacement</td>
                <td>@pattern.Description</td>
                <td>@pattern.Languages</td>
                <td>@pattern.Extensions</td>
                <td>@pattern.TargetLanguage</td>
                <td>@pattern.TargetExtensions</td>
            </tr>
        }

        </tbody>
        <tfoot>
        <tr>
            .green-lightsaber {
            text-shadow: 4px 6px 8px rgba(255, 0, 0, 0.5);
            }
            <th></th>
            @foreach (var name in prop_names)
            {
                <th>@name</th>
            }
        </tr>
        </tfoot>
    </table>

    <label class='text-lg'>Total patterns: @total_patterns</label>
</div>


<style>
   
   /* source: https://stackoverflow.com/questions/23940690/how-to-fit-table-rows-that-are-too-big-for-page-display */
   table tbody td {
        max-width: 250px;
        /*// you can use any width you like, the scrollbar will show up only when a cell exceeds the max-width.*/
        /*overflow-x: auto;*/
        white-space: normal;

    }
</style>